@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --white: #fafafa;
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-225: 1.125rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;
  --font-medium: 500;
  --font-black: 900;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: var(--slate-900);
}

.text-1 {
  font-size: clamp(
    var(--spacing-500),
    1.9718rem + 2.2535vw,
    var(--spacing-800)
  );
  font-weight: var(--font-black);
  line-height: 110%;
  letter-spacing: 0;
}
.text-2 {
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  font-weight: var(--font-black);
  line-height: 110%;
  letter-spacing: 0;
}
.text-3 {
  font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  font-weight: var(--font-black);
  line-height: 110%;
  letter-spacing: var(--spacing-50);
}
.text-4 {
  font-size: clamp(var(--spacing-200), 0.956rem + 0.1878vw, var(--spacing-225));
  font-weight: var(--font-medium);
  line-height: 150%;
  letter-spacing: 0;
}
.text-5 {
  font-size: var(--spacing-200);
  font-weight: var(--font-black);
  line-height: 150%;
  letter-spacing: 0px;
}

.btn {
  padding: var(--spacing-200) var(--spacing-500);
  text-decoration: none;
  color: var(--white);
  border-radius: 1.813rem;
}

.btn-blue {
  background-color: var(--cyan-600);
}

.btn-blue:hover {
  background-color: #71c0d4;
}

.btn-blue span {
  color: var(--cyan-300);
  margin-inline-start: var(--spacing-50);
}

.btn-purple {
  background-color: var(--purple-600);
}

.btn-purple:hover {
  background-color: #b18bdd;
}

.btn-purple span {
  color: var(--purple-300);
  margin-inline-start: var(--spacing-50);
}

body {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--white);
  color: var(--slate-600);
}

.logo-section {
  display: flex;
  justify-content: center;
  padding: var(--spacing-600) var(--spacing-1000) 0;
}

.hero-section {
  padding: var(--spacing-800) 0 var(--spacing-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-600);
}

.hero-info h1 {
  width: 11ch;
  text-wrap: balance;
}

.hero-info p {
  width: 28.4ch;
}

.hero-image {
  background-image: url("../images/tablet/image-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 10rem;
}

.hero-image-right {
  display: none;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
}

.hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

main {
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component .line {
  height: var(--spacing-1000);
  width: 1px;
  background-color: var(--slate-300);
}

.component .circle {
  width: var(--spacing-700);
  height: var(--spacing-700);
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-200);
}

.grid-image,
.grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--spacing-100);
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text h2 {
  text-wrap: balance;
  margin: var(--spacing-200) 0 var(--spacing-400);
}

.footer-component {
  position: relative;
  z-index: 2;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

footer {
  position: relative;
  background-color: #4d96a9d4;
  padding: var(--spacing-800) var(--spacing-400);
  margin-top: -1.75rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
}

footer h2,
footer p {
  color: var(--white);
}

.footer-btns a {
  display: block;
}

@media (min-width: 48rem) {
  .hero-section {
    gap: var(--spacing-900);
    padding: var(--spacing-800) 0;
  }

  .hero-image {
    height: 18.938rem;
  }

  .hero-btns {
    flex-direction: row;
  }

  .hero-info p {
    width: 39.9ch;
  }

  main {
    padding-top: var(--spacing-700);
  }

  .grid-section {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-300);
  }

  .main-text h2 {
    text-wrap: stable;
    width: 18.4ch;
  }

  .main-text p.text-4 {
    width: 45.3ch;
    text-wrap: balance;
  }

  .footer-wrapper p {
    width: 45.3ch;
  }
}

@media (min-width: 75rem) {
  .logo-section {
    padding-top: var(--spacing-1000);
  }

  .hero-section {
    flex-direction: row;
    padding: var(--spacing-800) 10rem;
    gap: var(--spacing-400);
  }

  .hero-image {
    background-image: url("../images/desktop/image-hero-left.png");
    background-position: -1.5rem 0;
    background-size: auto;
    margin-left: -10rem;
    padding-left: 10rem;
    height: 22.5rem;
  }

  .hero-image-right {
    display: block;
    background-image: url("../images/desktop/image-hero-right.png");
    background-position: 4.6rem 100%;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 22.5rem;
    margin-right: -10rem;
    padding-right: 10rem;
  }

  .hero-info {
    gap: var(--spacing-400);
  }

  .hero-info p {
    width: 37.1ch;
  }

  main {
    padding: var(--spacing-700) var(--spacing-1000) var(--spacing-900);
  }

  .grid-section {
    gap: var(--spacing-400);
  }

  .main-text h2 {
    width: 16ch;
  }

  footer {
    padding: var(--spacing-1400) var(--spacing-1000);
  }

  footer h2,
  footer p {
    text-align: left;
  }

  .footer-wrapper {
    flex-direction: row;
    gap: var(--spacing-400);
    justify-content: center;
  }

  .footer-wrapper h2 {
    width: 16ch;
  }

  .footer-wrapper p {
    width: 29.6ch;
  }

  .footer-btns {
    width: 16rem;
    height: var(--spacing-700);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: start;
  }
}
